* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none
}

body {
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
    font-family: 'Work Sans', sans-serif;
}

/* regular color and fonts  */
:root {
    --primary-rgba-color: rgba(255, 144, 14, 0.1);
    --secondary-color: #727272;
    --third-color: #FF900E;
    --black-color: #131313;
    --white-color: #fff;
    --light-black-color: #424242;
    --primary-rgb-color: #FFF4E7;
}

/* global css  */
.container-85 {
    width: 85%;
    margin: 0 auto;
}

.primary-title {
    font-weight: 700;
    color: var(--black-color);
    font-size: 2.5rem;
}

.secondary-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black-color);
}

.primary-description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-color);
    line-height: 3vh;
    margin: 2.5vh 0;
}

.secondary-description {
    font: 1rem;
    color: var(--secondary-color);
    line-height: 3vh;
    margin: 2.5vh 0;
}

.primary-btn {
    background-color: var(--third-color);
    padding: 1.4vh 2vh;
    font-size: 1.1rem;
    border: 0;
    font-weight: 500;
    color: var(--white-color);
    border-radius: .8vh;
}

.red-color {
    color: var(--secondary-color);
}

.orang-color {
    color: var(--third-color);
}


/* header & nav section css start  */
header {
    background-color: var(--primary-rgba-color);
    padding: 4vh 0 2vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 4vh; */
}

.nav-title {
    font-size: 3.5vh;
    color: var(--black-color);
}

.nav>ul {
    display: flex;
    column-gap: 5vh;
}

.nav>ul>li>a {
    color: var(--light-black-color);
}

/* banner part css start  */
.banner {
    margin-top: 8vh;
}

.banner-content {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.banner-title {
    font-size: 7vh;
}

.banner-img {
    margin-top: 4vh;
}

.banner-img>img {
    width: 100%;
}

/* gallery section css start  */
.gallery {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 5vh auto;

}

.gallery-img-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
}

.gallery-img-container img {
    width: 45%;
}

.gallery-content {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-title>.red-color {
    font-weight: 500;
}

.gallery-btn {
    display: inline;
}

/* featurs section css start  */
.featurs {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 15vh;
}

.featurs-content {
    width: 50%;
}

.featurs-top-content {
    margin-bottom: 4vh;
}
.featurs-bottom-content{
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

.featur-box {
    background-color: var(--white-color);
    padding: 2vh 3vh;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

}

.featurs-img {
    width: 50%;
    position: relative;
}
.featurs-img > .img-container{
    width: 90%;
    height: 95%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../images/architect.png');
    background-position: center;
    background-size: cover;
    border-radius: 1vh;
}

.featurs-img img {
    width: 100%;
    /* position: absolute;
    top: 0;
    right: 0; */
    border-radius: 1vh;
}
.featurs-img > .years{
    position: absolute;
    bottom: -3vh;
    left: 3vh;
    background-color: var(--third-color);
    padding: 6vh 7vh;
    color: var(--white-color);
    text-align: center;
    border-radius: 1vh;
}
.featurs-img > .years > .text-bold{
    font-size: 5vh;
    font-weight: 700;
}
.featurs-img > .years > .text-thin{
    font-size: 2.5vh;
}